<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
       <%# <% b = home.path %>
       <%# <% b = home.path %>
       <%# <% a = n(home) %>


      <!-- <li id="home-link" data-hook><%#<%= link_to Spree.t(:home), spree.root_path %></li> -->

      <!-- <li id="home-link" data-hook><%#<%= link_to Spree.t(NavElement.find(2).name), NavElement.find(2).path%></li> -->
      <!-- <li id="about-link" data-hook><%#<%= link_to Spree.t(NavElement.find(1).name), NavElement.find(1).path%></li> -->
      <!--<li id="contactus-link" data-hook><%#<%= link_to Spree.t("Contact Us"), spree.contact_us_path %></li> -->

      <% @home.each do |element| %>
        <li data-hook><%= link_to Spree.t(element.name), element.path, id: element.idattrib %> </li>
      <% end %>





    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to_cart %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>
